.ion-ios-sticket,
.ion-md-sticket {
  background-image: url(../assets/icon/sticket.svg);
  -webkit-background-size:contain;
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  width: auto;
  height: 40px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}