<ion-tabs color="secondary" selectedIndex="1">
  <ion-tab [root]="tab1Root" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="sticket"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="add"></ion-tab>
</ion-tabs>
