<!--
  Generated template for the ConnectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="form">

        <ion-list padding>
            <ion-img width="150" height="150" src="./assets/sticket-500x500.png"></ion-img>

            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text" class="secondary" [(ngModel)]="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button color="primary" block (click)="logUser()">Connexion</button>
        </div>

        <div padding>
            <button ion-button color="secondary" block (click)="logFb()">Facebook</button>
        </div>
    </div>
</ion-content>
