page-connect ion-content {
  background-color: color($colors, secondary)!important;
  .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: none;
    ion-item{
      background: none;
      color: color($colors, secondary);
      padding: 0;
    }
    ion-img{
      background: none;
      margin: 0 auto;
      display: block;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
      color: white;
    }
  }
}
