<!-- Generated template for the MyContentComponent component -->
<ion-header>
    <ion-navbar color="primary">
        <ion-title align="center">{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="outer-content">
    <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="enable">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-content></ng-content>
</ion-content>