[my-content] {
    height: 100%;
}

.outer-content {
    background: #f5f5f5;
    .list-header {
        margin-bottom: 0;
        border-bottom: solid 1px grey;
    }
    ion-item-options .button {
        min-width: 60px;
    }
}