<div my-content="Sticket" (eventDoRefresh)="doRefresh($event)" [enable]="true">

    <ion-list>
        <ion-list-header>
            Garantie
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of products">
            <ion-item class="item-remove-animate">
                <ion-avatar item-start *ngIf="item.picture">
                    <img src="{{item.picture}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <p>Marque : {{item.brand}}</p>
                <p>Date d'achat : {{item.dateBuy}}</p>
                <p>Durée : {{item.expiration}}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="primary" icon-left (click)="showProduct(item)">
                    <ion-icon name="more"></ion-icon>
                </button>
                <button ion-button color="danger" icon-left (click)="deleteProduct(item)">
                    <ion-icon name="trash"></ion-icon>
                </button>
                <button ion-button color="secondary" icon-left (click)="addPicture(item)">
                    <ion-icon name="image"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</div>