<div my-content="Ajouter une garantie">
    <ion-list>
        <ion-item>
            <ion-label floating>Marque</ion-label>
            <ion-input type="text" class="primary" [(ngModel)]="productToAdd.brand"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Nom</ion-label>
            <ion-input type="text" class="primary" [(ngModel)]="productToAdd.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Date d'achat</ion-label>
            <ion-input type="text" class="primary" [(ngModel)]="productToAdd.dateBuy"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Durée de validité de la garantie</ion-label>
            <ion-input type="text" class="primary" [(ngModel)]="productToAdd.expiration"></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button color="primary" block (click)="addProduct()">Suivant</button>
        </ion-item>
    </ion-list>
</div>