<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{pageData.name}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Retour</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-card>
        <img src="{{pageData.picture}}">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-6><strong>Nom</strong></ion-col>
                    <ion-col col-6>{{pageData.name}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6><strong>Marque</strong></ion-col>
                    <ion-col col-6>{{pageData.brand}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6><strong>Date d'achat</strong></ion-col>
                    <ion-col col-6>{{pageData.dateBuy}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6><strong>Durée de la garantie</strong></ion-col>
                    <ion-col col-6>{{pageData.expiration}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>